#components {
  width: 100%;
  /*min-height: 600px;
  background-image: url('../img/grid-bg-3.png');
  background-size: 99.8%;
  background-repeat: repeat;
  background-position: top left;
  background-color: transparent;*/
}

blockquote {
  padding: 10px;
  margin: 0;
  font-size: 12px;
  border: none;
}
