.component {
  background-size: contain;
  background-repeat: no-repeat;
  //background: none !important;
  overflow: hidden;
}

.component iframe {
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.grid-sizer, .grid-item {
  position: absolute;
  width: 16.66666667%;
}

.grid-item-width-2 {
  width: 16.66666667%;
}

.grid-item-width-4 {
  width: 33.33333333%;
}

.grid-item-width-6 {
  width: 50%;
}

.grid-item-width-8 {
  width: 66.66666667%;
}

.grid-item-width-10 {
  width: 83.33333333%;
}

.grid-item-width-12 {
  width: 100%;
}
