.component-social-TW420 {
  background-image: url('../img/TW420.png');
}

.component-social-TW460 {
  background-image: url('../img/TW460.png');
}

.twitter-tweet {
  height: 100%;
  width: 100%;
  background: #fff;
  overflow-y: auto;
  display: none;
}

body.wysiwyg .twitter-tweet {
  display: block;
}
