.component-blankspace-HO220 {
  background-image: url('../img/HO220.png');
}

.component-blankspace-HO420 {
  background-image: url('../img/HO420.png');
}

.component-blankspace-HO620 {
  background-image: url('../img/HO620.png');
}

.component-blankspace-HO820 {
  background-image: url('../img/HO820.png');
}

.component-blankspace-HO1220 {
  background-image: url('../img/HO1220.png');
}

.component-blankspace-VE240 {
  background-image: url('../img/VE240.png');
}

.component-blankspace-VE260 {
  background-image: url('../img/VE260.png');
}
