body {
  background-image: url('../img/grid-bg-3.png');
  background-size: 99.8%;
  background-repeat: repeat;
  background-position: 0 51px;
  background-color: transparent;
}

body.wysiwyg {
  background-image: none;
  background-color: #4d4d4d;
}
