#header {
  margin-bottom: 0;
}

.component-list {
  padding: 0;
  min-width: 500px;
}

.component-list>li {
  width: 50%;
  float: left;
  border: 1px solid #fff;
}

.component-list>li:nth-child(odd) {
  //border-right: 1px solid #fff;
}

.component-list>li>a:focus, .component-list>li>a:hover {

}

.component-list a.component-item-link:hover {
  //background-color: #2b2b2b;
}

.component-list a.component-item-link {
  padding: 0;
  display: block;
  color: #fff;
  background-color: #2b2b2b;
}

.component-list .component-item {
  overflow: hidden;
}

.component-list .component-item h2 {
  font-size: 16px;
  margin: 0;
  padding: 10px;
  background-color: #f36a3b;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.component-list .component-item .content {
  padding: 10px;
}

body.wysiwyg a.wysiwyg-icon {
  color: #f36a3b !important;
}
