.component-social-BL440 {
  background-image: url('../img/BL440.png');
}

.component-social-BL460 {
  background-image: url('../img/BL460.png');
}

.component-social-BL480 {
  background-image: url('../img/BL480.png');
}
